<div id="location-session">
<div class="col-xs-12" style="margin-top:20px;">

    <div class="card">
        <div class="card-header" style="background-color:#008C00; color:#fff">
            <span>Sessions over time location chart</span>
        </div>
        <div class="card-block">
               
            <div>
                        <div style="width:50%;" class="pull-sm-left">
                            <form class="form-group">
                                  <select id="zone" class="form-control-sm select-max-6">
                                       <option>--Select Zone--</option>
                                   </select>

                                  <select id="state" class="form-control-sm select-max-6">
                                       <option>--Select State--</option>
                                   </select>
                                
                                   <select id="lga" class="form-control-sm select-max-6">
                                       <option>--Select LGA--</option>
                                   </select>

                                   <button class="btn btn-success btn-sm">RESET</button>
                                   
                            </form>
                            <div><span>Maximum of six (6) locations allowed per filter</span></div>
                        </div>
                        <div style="width:30%;" class="pull-sm-right" >
                            
                            <div style="width:50%;float: right;">

                                <div class="input-group">
                                    <input type="text"  id="toDate" placeholder="To" class="calendar form-control" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div style="width:50%;float: right;">
                                <div class="input-group">
                                    <input type="text"  id="fromDate" placeholder="From" class="calendar form-control"  />
                                   <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>

                            </div>

                     </div>
               <div style="float: right;margin-top:4px">
                                <div class="btn-group"  data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" autocomplete="off" checked />Day
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" autocomplete="off" />Week
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" autocomplete="off" />Months
                                    </label>

                                </div>
                    </div>
            </div>
                    <i style="clear:both;display:block"></i>

            
            <div>
                Sessions over time location line Chart
            </div>
        </div>
    </div>

</div>
</div> <!-- End of Location Session -->



<div id="location-user">

    <div class="col-xs-12" style="margin-top:20px">
                      
                      <div class="card">
                          <div class="card-header" style="background-color:#008C00; color:#fff">
                              <span>Location details by user</span>  
                          </div>
                          <div class="card-block">
                              <div>
                                  
                                  <form class="form-group">
                                      <select id="zone" class="form-control-sm select-max-6">
                                           <option>--Select Zone--</option>
                                           <option>South West</option>
                                       </select>

                                      <select id="state" class="form-control-sm select-max-6">
                                           <option>--Select State--</option>
                                       </select>

                                       <select id="lga" class="form-control-sm select-max-6">
                                           <option>--Select LGA--</option>
                                       </select>
                                      
                                      <select id="module" class="form-control-sm">
                                           <option>--Select Modules--</option>
                                           <option>Queries</option>
                                           <option>Location</option>
                                           <option>Charts</option>
                                       </select>

                                 </form>
                                  <div><span>Maximum of six (6) locations allowed per filter</span></div>
                              </div>
                              
                              <div>
                              <table class="table table-striped ">
                                  <thead>
                                        <th>Location name</th>
                                        <th>No of users</th>
                                        <th>Logged In users</th>
                                        <th>Total sessions</th>
                                       
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>Eti Osa 1</td>
                                          <td>76</td>
                                          <td>55</td>
                                          <td>57</td>
                                      </tr>
                                      <tr>
                                          <td>Eti Osa 1</td>
                                          <td>76</td>
                                          <td>55</td>
                                          <td>57</td>
                                      </tr>
                                      <tr>
                                          <td>Eti Osa 1</td>
                                          <td>76</td>
                                          <td>55</td>
                                          <td>57</td>
                                      </tr>
                                  </tbody>
                              </table>
                              </div>
                              
                          </div>
                          
                      </div>
                      
                  </div>
    
</div>
